<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
  </packageSources>
  <packageSourceCredentials>
    <GitHub>
      <add key="Username" value="%GITHUB_ACTOR%" />
      <add key="Password" value="%GITHUB_TOKEN%" />
    </GitHub>
  </packageSourceCredentials>
  <packageSourceMapping>
		<!-- Map all other packages to nuget.org -->
		<packageSource key="nuget.org">
			<package pattern="*" />
		</packageSource>
  </packageSourceMapping>
</configuration>
